/* .takeNote {
    height: 6vh;
    width: 40vw;
    position: absolute;
    left: 500px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
} */

.takeNoteOne {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    /* border: 2px solid green; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

.noteOne {
    width: 70%;
    height: 60%;
    font-size: 14px;
    color: black ! important;
    font-weight: 550;
    letter-spacing: .01428571em;
    line-height: 1.0rem;
}

.takeNoteIcon {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .takeNote {
        height: 7vh;
        width: 85vw;
        position: relative;
        top: -50px;
    }

    .takeNoteIcon {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        font-size: large;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .takeNoteIcon {
        width: 70%;
        display: flex;
        justify-content: space-around;
        /* border: 1px solid red; */
    }
}

@media only screen and (min-width: 789px) and (max-width: 1024px) {}