.takeNote {
    height: 7vh;
    width: 40vw;
    position: relative;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.takeNoteOne {
    box-sizing: border-box;
    width: 40vw;
    height: 6vh;
    margin-top: 3.5px;
    border: 0px solid green;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    opacity: 1;
}

.noteOne {
    margin-left: 10px;
    width: 70%;
    height: 60%;
    margin-top: 1px;
    font-size: 14px;

    color: black ! important;
    font-weight: 550;
    letter-spacing: .01428571em;
    line-height: 1.0rem;
    border: none;
    outline: none;
}

.takeNoteIcon {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
}