.frame {
    width: 18vw;
    height: 20vh;
    position: absolute;
    top: 350px;
    left: 300px;
}

.outerContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    align-items: center;
}

.innerContainer1 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.innerContainer2 {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftContainer {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 7%;
}

.note3a {
    margin-top: 10%;
    width: 100%;
    height: 50%;
}

.note3b {
    width: 100%;
    height: 50%;
}

.iconpin {
    width: 20%;
    height: 100%;
    border: 0px solid red;
    position: relative;
    left: 2%;
    bottom: 20%;
}