.takeNoteTwo {
    height: 20vh;
    width: 40vw;
    position: relative;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}

.takeNote2A {
    width: 95%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
}

.titlePin {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 80%;
    height: 100%;
    font-size: 16px;
    font-weight: 530;
    border: none;
    outline: none;
    letter-spacing: .0228571em;
}

.description {
    height: 65% !important;
    width: 100%;
}

.takeNote2Decxription {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 530;
    border: none;
    outline: none;
    letter-spacing: .0228571em;
}

.note2c {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.note2d {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close {
    width: 30%;
    height: 100%;
    position: relative;
    left: 9.5%;
}


.greyButton {
    color: rgb(75, 74, 74);
}

.buttonColorblack {
    font-size: small;
}

.buttonColor {
    color: rgb(165, 162, 162);
    font-size: medium;
}