@media only screen and (min-width: 320px) and (max-width: 480px) {
    .loginCard {
        width: 100vw;
        height: 115vh;
    }

    .TextField {
        width: 100%;
        /* border: 1px solid red; */
    }

    .text {
        /* border: 1px solid red; */
        margin-left: 0px;
    }

    .content {
        margin-top: 35px;
        width: 100vw;
        height: 100vh;
    }

    .section3 {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .loginCard {
        width: 100vw;
        border: 1px solid blue;
        margin-top: 15%;
    }

    .content {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .TextField {
        width: 90%;
        /* border: 1px solid red; */
    }

    .text {

        width: 90%;

    }

    .section3 {
        padding: 0px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 350px;
    }

    .notComputer {
        padding-left: -120px;
        width: 100%;
        justify-items: flex-start;

    }



}

@media only screen and (min-width: 789px) and (max-width: 1024px) {
    .loginCard {
        width: 50vh;
        height: 60vh;
    }

    .content {
        margin-top: 15px;
    }

    .forgot-Password {
        margin-left: -50px;
    }

    .notComputer {
        margin-left: -50px;
        width: 100%;
    }

    .link {
        margin-left: -50px;
    }

    .section3 {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 10%;
        margin-left: 50px;
    }

}