/* .signuppage {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 45vw;
    height: 80vh;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-2 {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.textField {
    display: flex;
    justify-content: space-between;
}

.columnTextField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.rowTextField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1% 1% 5% 1%;
}

.outlined1 {
    width: 80%;
    height: 10%;
}

.outlined2 {
    width: 80%;
    height: 10%;
    margin-left: 10px;
}

.spantext {
    font-size: 13px;
    margin-left: 8px;
    color: grey;
    display: flex;
    align-items: flex-start;
}

.useemail {
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    margin-top: 15px;

}

.form2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

input.checkbox {
    width: 20px;
    height: 20px;
}

.checkLabel {
    margin-left: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-3 {
    margin-left: 100%;
}

.create-account {
    font-size: 15px;
}




.img {
    position: relative;
    top: -40px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.string {
    position: relative;
    top: -40px;
}

.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-align {
    font-size: 12px;
    color: grey;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .signuppage {
        width: 100vw;
        height: 150vh;
    }

    .box {
        width: 100vw;
        height: 150vh;
        border: none;
        padding-left: 1.5rem;
        padding-top: 0rem;
    }

    .box h2 {
        margin: 0px 0 -0.125rem;
        text-align: start;
    }

    .textField {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-side {
        display: none;
    }

    .content {

        padding: 0px;
        width: 55vh;
        height: 100vh;
    }

    .columnTextField {
        display: flex;
        width: 80vw;
    }

    .firstName {
        width: 100%;
    }

    .lastName {
        width: 100%;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .button-3 {
        margin-left: 100px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .signuppage {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .content {
        margin-left: 10px;
    }

    .box {
        height: 100%;
    }

    .column {
        margin-bottom: 150px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }

    .useemail {
        margin-left: 5px;
    }

    .text-2 {
        margin-left: 5px;
    }

}

@media only screen and (min-width: 789px) and (max-width: 1024px) {
    .signuppage {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .box {
        height: 60%;
        width: 60%;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        width: 60%;
    }

    .right-side {
        display: none;
    }

    .useemail {
        margin-left: 5px;
    }

    .text-2 {
        margin-left: 5px;
    }

} */